<mat-toolbar>
    
    <span>{{service.form.controls['id'].value?"Edit":"Create"}}</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
        <mat-icon>clear</mat-icon>
    </button>
    
</mat-toolbar>

<form [formGroup]="service.form" (ngSubmit)="onFormSubmit()" class="normal-form">
    <mat-grid-list cols="2" rowHeight="420px">

        <mat-grid-tile>
            <div class="controles-container">

                <div style="height:50px ;"></div>

                <mat-form-field>
                    <mat-select formControlName="featureName" placeholder="Please Select Feature">
                        <!-- <mat-option>None</mat-option> -->
                        <ng-container *ngFor="let featureName of allFeatureNames">
                            <mat-option value="{{featureName}}">{{featureName}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <mat-select formControlName="userType" placeholder="Please Select Type">
                        <!-- <mat-option>None</mat-option> -->
                        <ng-container *ngFor="let type of allUserTypes">
                            <mat-option value="{{type}}">{{type}}</mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>


                <div class="button-row">
                    <!-- [disabled]="service.form.invalid" -->
                    <button mat-raised-button color="primary" type="submit">Save</button>
                    <button id='buttonReset' mat-raised-button color="warn" type="reset"> Clear</button>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">

                <mat-form-field>
                    <input formControlName="vendorCode" matInput placeholder="Vendor Code">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="userKey" matInput placeholder="Key">
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="userValue" matInput placeholder="Value">
                </mat-form-field>


            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>