<!-- <div class="alert alert-danger">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div> -->

<div style="margin-bottom: 2em;"></div>


<div class="container">
    <div class="container">
        <!-- <div class="container" style="margin-left: 30em;"> -->
        <div class="row">
            <div class="col-xs-5">

                <h5 style="margin-left: 5em;color: rgb(0, 0, 0);">Extraction</h5>
                <canvas id="myChart" width="300" height="200" float="left"></canvas>

            </div>
            <div style="margin-left: 10em;" class="col-xs-2"></div>
            <div class="col-xs-5">

                <h5 style="margin-left: 5em;color: rgb(0, 0, 0)">Conversion</h5>
                <canvas id="myChart2" width="300" height="200" float="left"></canvas>

            </div>

        </div>

    </div>

    <div style="margin-bottom: 2em;"></div>


    <form [formGroup]="form">

        <div class="form-group">
            <div class="example-button-row">
                <!-- <button mat-raised-button class="btn btn-danger btn-block btn-lg" (click)="submitUser()">Create</button> -->
                <!-- <button mat-raised-button class="btn btn-danger  btn-sm" (click)="submitUser()">Create Task</button> -->
                <button mat-raised-button class="btn btn-info  btn-sm " (click)="exportInputStatus()">Export Info</button>
                <button mat-raised-button class="btn btn-secondary  btn-sm " (click)="exportResultsStatus()">Export Results</button>
                <button mat-raised-button class="btn btn-light btn-sm" (click)="exportDiffStatus()">Export Difference</button>
                <button mat-raised-button class="btn btn-success btn-sm" (click)="exportByUrl()">Export By URLs</button>
                <button mat-raised-button class="btn btn-light btn-sm" (click)="exportByVendor()">Export By Vendor</button>

            </div>
        </div>

        <!-- <form [formGroup]="form" (ngSubmit)="submitUser()"> -->
        <!-- Progress Bar -->
        <div class="progress form-group" *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
            </div>
        </div>

      
<!-- 
        <div class="form-group input-group-lg">
           
            <app-autocompelete-multiselection-tasks [allTasks]="allTasks" (selectedTasks)="onSelectTask($event)"></app-autocompelete-multiselection-tasks>
        </div> -->


        <mat-form-field>
            <input style="color: rgb(0, 0, 0);" matInput [matDatepicker]="picker1" placeholder="From Date" formControlName="fromDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input style="color: rgb(0, 0, 0);" matInput [matDatepicker]="picker2" placeholder="To Date" formControlName="toDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div class="form-group">
            <input type="file" style="color: rgb(0, 0, 0);" (change)="uploadFile($event)">
        </div>

        <div style="margin-bottom: 2em;"></div>
        <mat-checkbox style="color: rgb(0, 0, 0);" formControlName="withOrWithoutDate">With Date</mat-checkbox>
        
        <mat-radio-group style="color: rgb(0, 0, 0);" formControlName="verticalOrHorizontal" aria-label="Select an option">
            <mat-radio-button [checked]="true" value="hor">Horizontal</mat-radio-button>
            <mat-radio-button value="ver">Vertical</mat-radio-button>
        </mat-radio-group>
        <div style="margin-bottom: 2em;"></div>
       
    </form>
</div>
